.venv/
output/
.env
*.pyc
*.log
test_data/
sample_data/
__pycache__/
*.pyc
venv/
.env.*
.ipynb_checkpoints/
.DS_Store
results
results1
results-checkpoints/
results1-checkpoints/
scraped_cleaned
scraped_raw
output_directory